/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
#186d58 - Dark green
*/

/* Global styles
------------------------------------*/
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 15px;
}
img {
  width: 250px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  margin: 0;
  font-weight: 400;
  font-family: "caveat", cursive;
}
.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  width: 85%;
  padding: 60px 0;
}
h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  padding: 25px 0px;
  border-bottom: 1px dashed #343434;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Profile
------------------------------------*/
header {
  background: #2f3061;
  color: #f7fff7;
}

/* Projects
------------------------------------*/
.projects {
  background: #e4f1ef;
  color: #186d58;
}
.projects a {
  color: #2f3061;
}
.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-item img {
  margin-right: 40px;
  background: #186d58;
  border-radius: 5px;
  padding: 5px;
}

.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin: 0px;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #a1c6d7;
}
/* Education
------------------------------------*/
.education {
  background-image: url(joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  color: #000;
  font-weight: 500;
}
.education p {
  max-width: 60%;
}

/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #f7fff7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
  .project-item img {
    float: left;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}
@media screen and (max-width: 749px) {
  h1 {
    text-align: center;
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  .project-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .projects .btn {
    display: block;
    text-align: center;
  }
  h2 {
    line-height: 1;
  }
  .project-item h3 {
    margin: 20px;
  }
  .contact-list a {
    padding: 5px;
  }
}
